<h1>Proyecto para demostrar habilidades en Angular, Clean Code, unit testing y accessibility</h1>

<h2>El Proyecto</h2>
<p>Crear una enciclopedia en Angular 16, tratando de implementar lo aprendido en los cursos que tome.</p>

<p>Para la informaci&oacute;n se usar&aacute; la api publica de &ldquo;<a href="https://pokeapi.co/docs/v2" alt="link pokeApi">https://pokeapi.co/docs/v2</a>&rdquo;.</p>

<p>La app le ser&aacute; posible navegar para personas con discapacidades usando las propiedades &ldquo;aria&rdquo; y tambi&eacute;n contar&aacute; con un coverage de pruebas unitarias de al menos el 80%.</p>

<h2>Menu principal </h2>
<p>El men&uacute; principal dar&aacute; la bienvenida al usuario con un mensaje amigable, y mostrar&aacute; 5 pokemon al azar.</p>

<p>A la izquierda del mismo se mostrar&aacute; un men&uacute; para poder acceder a las distintas secciones.</p>

<h2>Seccion: Enciclopedia</h2>
<p>Esta secci&oacute;n mostrar&aacute; un listado con todos los pokemon disponibles. Se mostrar&aacute; su foto y su&#160; nombre. Arriba habr&aacute; un buscador para poder achicar la b&uacute;squeda. Al hacer click en el pokemon este se abrir&aacute; en pantalla completa con m&aacute;s informaci&oacute;n detallada</p>

<h2>Seccion: Acerca de</h2>
<p>Esta secci&oacute;n tendr&aacute; informaci&oacute;n est&aacute;tica sobre el creador del proyecto, e informaci&oacute;n sobre las tecnolog&iacute;as usadas en su creaci&oacute;n.</p>

<h2>Tecnologias a usar:</h2>
<ul>
  <li>Angular 16</li>
  <li>Javascript</li>
  <li>Typescript</li>
  <li>Css</li>
  <li>Html 5</li>
  <li>Jasmine</li>
  <li>Ng-bootstrap (dise&ntilde;o)</li>
  <li>ngx-infinite-scroll</li>
</ul>

<h2>Autor</h2>
<p>Osvaldo Matias Anchoren</p>


