.skip-link {
  background: black;
  color: white;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  top:0;
  font-size: 18px;
  line-height: 20px;
  height: 100px;
}

.skip-link:focus {
  transform: translateY(0%);
}
